<div class="container-fluid text-center">
  <h1>Yay! Let's go to the movies!</h1>
  <h1>Yay! Let's go to the movies!</h1>
  <h1>Yay! Let's go to the movies!</h1>
  <h1>Yay! Let's go to the movies!</h1>
</div>
